GoAppFront/Service References/ServiceConsultaProyectos/ConsultaProyectosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaProyectos">
        <s:complexType />
      </s:element>
      <s:element name="ConsultaProyectosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaProyectosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaProyectosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaProyectos" />
  </wsdl:message>
  <wsdl:message name="ConsultaProyectosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaProyectosResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultaProyectosWSSoap">
    <wsdl:operation name="ConsultaProyectos">
      <wsdl:input message="tns:ConsultaProyectosSoapIn" />
      <wsdl:output message="tns:ConsultaProyectosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaProyectosWSSoap" type="tns:ConsultaProyectosWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaProyectos">
      <soap:operation soapAction="http://tempuri.org/ConsultaProyectos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaProyectosWSSoap12" type="tns:ConsultaProyectosWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaProyectos">
      <soap12:operation soapAction="http://tempuri.org/ConsultaProyectos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaProyectosWS">
    <wsdl:port name="ConsultaProyectosWSSoap" binding="tns:ConsultaProyectosWSSoap">
      <soap:address location="http://localhost:59524/ConsultaProyectosWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultaProyectosWSSoap12" binding="tns:ConsultaProyectosWSSoap12">
      <soap12:address location="http://localhost:59524/ConsultaProyectosWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>