GoAppFront/Service References/ServiceReference2/AltaProyectoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Proyecto_InsertOrUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dto" type="tns:ProyectoDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProyectoDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Meta" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="Proyecto_InsertOrUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Proyecto_InsertOrUpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Proyecto_InsertOrUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Proyecto_InsertOrUpdate" />
  </wsdl:message>
  <wsdl:message name="Proyecto_InsertOrUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:Proyecto_InsertOrUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="AltaProyectoWSSoap">
    <wsdl:operation name="Proyecto_InsertOrUpdate">
      <wsdl:input message="tns:Proyecto_InsertOrUpdateSoapIn" />
      <wsdl:output message="tns:Proyecto_InsertOrUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AltaProyectoWSSoap" type="tns:AltaProyectoWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Proyecto_InsertOrUpdate">
      <soap:operation soapAction="http://tempuri.org/Proyecto_InsertOrUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AltaProyectoWSSoap12" type="tns:AltaProyectoWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Proyecto_InsertOrUpdate">
      <soap12:operation soapAction="http://tempuri.org/Proyecto_InsertOrUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AltaProyectoWS">
    <wsdl:port name="AltaProyectoWSSoap" binding="tns:AltaProyectoWSSoap">
      <soap:address location="http://localhost:59524/AltaProyectoWS.asmx" />
    </wsdl:port>
    <wsdl:port name="AltaProyectoWSSoap12" binding="tns:AltaProyectoWSSoap12">
      <soap12:address location="http://localhost:59524/AltaProyectoWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>